node_modules
.next
out
dist
*.local

# lighthouse audit outputs
lighthouse.report.*

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# we use yarn.lock as the lockfile
package-lock.json

.DS_Store
.env
.env.local
.env.*.local

next-env.d.ts
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
